- var PageTitle = "Learn Jade"

- var MetaDesc = "PSD to HTML Corporate Design Build"

- var GoogleFonts = 'Wellfleet'

- var jQuery = true

- var page = "index"

//- - var nav = [1:'home','about','services','blog','contact']
//- - var nav = {'Home':'home','About Us':'about_us','Services':'services','Blog':'blog','Contact':'contact'}
//- - var arr = [ [{'Home':'home' } ], [{'About Us':'about_us' } ] ]
-var href = "#"