/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* Variables */
$f-family : colossalis;
$f-color : #ec8e08;
$f-body : "Trbuchet MS", Tahoma, Arial, sans-serif;
$f-body-col : #888;


@import "normalize";
@font-face{
	font-family : colossalis;
	src: url('../font/Colossalis Bold.ttf')
}

body{
	border-top: 8px solid $f-color;
	color : $f-body-col;
	font-family:$f-body
}

.container{
	width: 960px;
	margin: 0 auto;
}
h1, h2, h3, h4, h5, h6{
	color : $f-color;
	font-family:$f-family, impact, sans-serif
}